.body {
  padding: 2%;
}

.body-calendar {
  display: flex;
  border: solid rgba(55, 55, 55, 0.8) 1px;
  box-shadow: 2px 2px 4px #000000;
  background: white;
  padding: 1%;
}

img {
  max-width: 100%;
  height: auto;
}

.weather {
  font-style: italic;
}

.body-right-weather {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  margin-top: 10px;
}

.fc-today {
  background-color: #ccc !important;
}
