.body {
  padding: 5%;
}

.body-calendar {
  display: flex;
  border: solid rgba(55,55,55,0.8) 1px;
  box-shadow: 2px 2px 4px #000000;
  background: white;
  padding: 1%;
}

.body-right-weather {
  text-align: center;
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
